.box-stark {
    position: relative;
    background-color: #D20001;
    height: 300px;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.stark-img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate3d(-50%, -50%, 80px);
    height: 300px;
    transform: 0.5s;
}

.box-stark:hover .stark-img {
    transform: translate3d(-50%, -50%, 100px) scale(1.2);
}